<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

<xacro:include filename="$(find rover_description_pkg)/urdf/rover_macro.xacro"/>
<xacro:include filename="$(find rover_description_pkg)/urdf/utilities.xacro"/>
<xacro:include filename="$(find rover_description_pkg)/urdf/rover_gazebo.xacro"/>
<!-- <xacro:include filename="$(find rover_turret_cameras)/urdf/rover_turret_macro.xacro"/> -->


<xacro:arg name="is_sim" default="true"/>

<link name="base_footprint">
</link>

<link name="rover_turret_plate">
</link>

<joint name="base_to_turret_plate" type="fixed">
    <origin xyz="0.0 0.0 0.19"/>
    <parent link="base_footprint"/>
    <child link="rover_turret_plate"/>
</joint>

<xacro:rover_base_frame parent_link="base_footprint"/>

<!-- <xacro:rover_turret parent_link="rover_turret_plate"/> -->

<!-- if it is in simulation -->
<xacro:if value="$(arg is_sim)">
    <xacro:rover_wheels_sim left_joint="diff_drive_l_joint" right_joint="diff_drive_r_joint"/>
    <xacro:gazebo_diff_drive_controller left_joint="diff_drive_l_joint" right_joint="diff_drive_r_joint"/>
    <xacro:gazebo_wheel_contact/>
    <xacro:lidar_gazebo_sensor laser_frame="laser" laser_topic="/scan"/>
    <!-- <xacro:camera_gazebo camera_base_frame="camera_frame" camera_topic="camera" camera_info_topic="camera_info"/> -->
</xacro:if>

<!-- if it is not in simulation -->
<xacro:unless value="$(arg is_sim)">
    <xacro:rover_rplidar_s1 laser_frame="laser"/>
    <!-- <xacro:rover_camera_realsense_d435i camera_base_frame="camera_frame"/> -->
</xacro:unless>

    
</robot>
