<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find rover_turret_cameras)/urdf/rover_turret_test.xacro"/>
    <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rover_turret_cameras)/test_config.rviz"/>

</launch>