<?xml version="1.0"?>
<launch>

    <arg name="rover_description" value="$(find-pkg-share xacro)/xacro $(find-pkg-share rover_description_pkg)/urdf/rover.xacro"/>

    <node name="rover_robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher">
        <param name="tf_prefix" value="rover"/>
        <param name="rover_description" value='rover_description'/>
        <remap from="robot_description" to="rover_description"/>    
    </node>
    <node name="rover_joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher"  output="screen">
        <param name="tf_prefix" value="rover"/>
        <param name="rover_description" value='rover_description'/>
        <remap from="robot_description" to="rover_description"/>    
    </node>

</launch>
